@import "../bootstrap/bootstrap.less";
@import "../colors.less";
@import "../general.less";
@import "../util.less";
@import "modal.less";
@import "bars.less";
@import "selected-bestias.less";
@import "canvas.less";
@import "chat.less";
@import "inventory.less";
@import "attacks.less";
@import "ui-dialog.less";
@import "shortcuts.less";

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #0a0a0a;
	color: @textColor;
	overflow: hidden;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 5px 10px;
}

p {
	line-height: 0.8em;
}

.ui-buttons {
	padding: 0 10px;
	margin-bottom: 10px;
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0px;
	background: black;
	text-align: right;
	display: block;
}