@import "../bootstrap/bootstrap.less";
@import "../colors.less";
@import "../general.less";
@import "modal.less";
@import "bars.less";
@import "widget_bestias.less";
@import "widget_chat.less";
@import "modal_inventory.less";
@import "modal_attacks.less";
@import "modal_dialog.less";
@import "widget_shortcuts.less";

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #0a0a0a;
	color: @textColor;
	overflow: hidden;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 5px 10px;
}

p {
	line-height: 0.8em;
}

.ui-buttons {
	padding: 0 10px;
	margin-bottom: 10px;
	text-align: center;
}

#canvas-container {

	text-align: center;
	vertical-align: center;
	height: 100%;

	#bestia-canvas {
		.bestiaMenu;
		display: inline-block;
		cursor:url('/img/cursor.png'), auto;
	}
}

footer {
	position: absolute;
	bottom: 0px;
	background: black;
	text-align: right;
	display: block;
}