
.flex() {
  display: -webkit-flex;
  display:-ms-flexbox;
  display: flex;
}

.slider {
	transition: bottom 0.5s, opacity 0.3s;
	opacity: 0;
}

.slider_active {
	bottom: 0px;
	opacity: 1;
}

/**
 User can click on this marked item. Usually this indicates a click cursor.
 */
.clickable {
	cursor: pointer;
}
