
@lightBackground: #f9f2db;

.flex() {
  display: -webkit-flex;
  display:-ms-flexbox;
  display: flex;
}

/**
 User can click on this marked item. Usually this indicates a click cursor.
 */
.clickable {
	cursor: pointer;
}


.slider(@height) {
	transition: bottom 0.5s, opacity 0.3s;
	opacity: 0;
	background: @lightBackground;
	padding: 10px 5px 0 5px;
	position: absolute;
	z-index: 200;
	bottom: -@height;
	left: 0;
	right: 0;
	margin: 0 auto;
	
	.header {
		padding: 5px 0;
	}
}

.slider_active {
	bottom: 0px;
	opacity: 1;
}