<div class="bestia-slots" data-bind="foreach: bestias">
    <div class="bestia-slot" data-bind="click: selectBestia">
        <img data-bind="attr: {src: iconUrl}" alt="Bestia Icon">
        <div class="name">
            <b><span data-bind="text: customName"></span></b> - Lv. <span data-bind="text: level"></span>
		</div>
        <div style="margin-top: 8px; float: left; width: 200px;" data-bind="with: conditionValues">
            <div class="bar hp-bar small-bar">
                <div class="bar-bg">
                    <div data-bind="style: {width: hpWidth}"></div>
                </div>
                <div class="bar-text">
                    HP: <span data-bind="text: curHp">0</span> / <span data-bind="text: maxHp">0</span>
                </div>
            </div>
            <div class="bar mana-bar small-bar">
                <div class="bar-bg">
                    <div data-bind="style: {width: manaWidth}"></div>
                </div>
                <div class="bar-text">
                    Mana: <span data-bind="text: curMana">0</span> / <span data-bind="text: maxMana">0</span>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>