<!-- SHORTCUTS -->
<div class="shortcuts" data-bind="foreach: rows">
	<div class="shortcut-row" data-bind="foreach: row">
		<div class="shortcut-entity">
			<div class="shortcut">
				<img src="http://placehold.it/32x32" alt="">
				<span class="amount">123</span>
			</div>
			<div class="key">A</div>
		</div>
	</div>
</div>

<!--
<div class="shortcuts" data-bind="foreach: rows">
	<div class="shortcut-row" data-bind="foreach: row">
		<div class="shortcut-entity" data-bind="css: {active: isTriggered()}">
			<div class="shortcut-wrapper">
				<div class="shortcut">
					<img data-bind="attr: {src: imageSrc, alt: imageAlt}" src="" alt="">
					<span class="amount" data-bind="text: amount">123</span>
				</div>
			</div>
			<div class="key" data-bind="text: key"></div>
		</div>
	</div>
</div>-->