[Unit]
Description = MemoryDB for the Bestia Browsergame
After       = syslog.target

[Service]
ExecStart=/usr/bin/java -jar /opt/bestia-memdb/bestia-memdb.jar
User = bestia
Restart = always

[Install]
# multi-user.target corresponds to run level 3
# roughtly meaning wanted by system start
WantedBy    = multi-user.target