[Unit]
Description = Zoneserver for the bestia browsergame
After       = syslog.target

[Service]
ExecStart=/usr/bin/java -Xmx512m -jar /opt/bestia-zone/bestia-zoneserver.jar
User = bestia
Restart = always

[Install]
WantedBy    = multi-user.target